body {
    background-color: #f0f2f5;
}
article {
    display: flex;
    align-content: center;
    margin: 0px 40px;
    padding-left: 180px;
    height: 400px;
    width: 100vh;
    padding-top: 120px;
} 

.div_All_login {
    padding-right: 50px;
    width: 385px;
    height: auto;
 }

 .div_Logo {
    border: none;
    width: 400px;
    padding-right: 180px;
 }

.div_Risk {
    width: 350px;
    border-bottom: 1px solid #d8dadb;
    margin: 16px 16px;
    
}
#fig_Logo, article img {
    width: 320px;
    height: 110px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg);
}

#fig_Logo:hover {
    background-image: url(/images/Meta.jfif);
    background-size: 302px 110px;
    background-position: 20px 20px 20px 23px;
}

h2 {
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 350px;
}
h3 {
    font-size: 34px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.div_Login {
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    width: 380px;
    height: 300px;
    box-shadow: 0px 0px 8px 1px rgb(187, 187, 187);
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;    
}
.div_Input-1, .div_Input-2 {
padding: 6px 0px;
}

.div_Login input {
    width: 360px;
    font-size: 17px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #d8dadb;
    padding-left: 15px;
}

.div_Login input:focus {
    border:1px solid #1877F2;
}


#new_Account_btn {
    background-color: #42B72A;
    height: 50px;
    width: 166px;

}

#login_btn {
    margin-left: 10px;
    background-color: #1877F2;
    height: 50px;
    width: 360px;  
}
#login_btn :hover {
    background-color: #0f5dc4;
}

#login_btn, #new_Account_btn {
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#Password + button,
#Password + button:hover,
#Password + button:focus {
  all: unset;
  position: relative;
  margin-left: -30px;
  cursor: pointer;
} 


.create_a_pag {
    margin-left: 50px;
}


/*links*/
.div_Login a {
    margin-top: 16px;
}
.div_Login a, .div_Login a:active {
    color: #1877F2;  
}

.create_a_pag a, .create_a_pag a:active {
    color: #000000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*End*/
